<%- include('../partials/header') %>


<% if (card.type === "Monster") { %>
    <form id="edit-form" action="/cards/<%= `${card._id}` %>?_method=PUT"  method="POST">
      <label>Name:</label>
      <input type="text" name="name" value="<%= `${card.name}` %>">
      <br>
      <label>Type:</label>
      <select name="type" value="<%= `${card.type}` %>">
        <option value="Monster">Monster</option>
      </select>
      <br>
      <label>Level:</label>
      <input type="text" name="level" value="<%= `${card.level}` %>">
      <br>
      <label>Attribute:</label>
      <select name="attribute">
        <% const attributes = ["LIGHT", "DARK", "FIRE", "WATER", "WIND",
        "EARTH", "DIVINE"];
            for (i = 0; i < attributes.length; i++){
                let selected = (card.attribute === attributes[i]) ? "selected" : "";
                %><option value="<%= attributes[i] %>" <%= selected %>><%= attributes[i] %></option><%
            } %>
      </select>
      <br>
      <label>Monster Type:</label>
      <select name="monsterType">
        <% const monsters = ["Aqua", "Beast", "Beast-Warrior", "Cyberse", 
        "Dinosaur", "Divine-Beast", "Dragon", "Fairy", "Fiend", "Fish",
        "Insect", "Machine", "Plant", "Psychic", "Pyro", "Reptile", "Rock",
        "Sea Serpent", "Spellcaster", "Thunder", "Warrior", "Winged Beast",
        "Wyrm", "Zombie"];
            for (i = 0; i < monsters.length; i++){
                let selected = (card.monsterType === monsters[i]) ? "selected" : "";
                %><option value="<%= monsters[i] %>" <%= selected %>><%= monsters[i] %></option><%
            } %>
      </select>
      <br>
      <label>Attack:</label>
      <input type="text" name="atk" value="<%= `${card.atk}` %>">
      <br>
      <label>Defense:</label>
      <input type="text" name="def" value="<%= `${card.def}` %>">
      <br>
      <label>Effect:</label>
      <input type="text" name="effect" value="<%= `${card.effect}` %>">
      <input type="submit" value="Edit Card">
    </form>
<% } else if (card.type === "Spell") { %>
    <form id="edit-form" action="/cards/<%= `${card._id}` %>?_method=PUT"  method="POST">
        <label>Name:</label>
        <input type="text" name="name" value="<%= `${card.name}` %>">
        <br>
        <label>Type:</label>
        <select name="type" value="<%= `${card.type}` %>">
          <option value="Spell">Spell</option>
        </select>
        <br>
        <label>Spell Type:</label>
        <select name="spellType">
            <% const spells = ["Normal", "Continuous", "Quick-Play", "Field", "Equip"];
            for (i = 0; i < spells.length; i++){
                let selected = (card.spellType === spells[i]) ? "selected" : "";
                %><option value="<%= spells[i] %>" <%= selected %>><%= spells[i] %></option><%
            } %>
        </select>
        <br>
        <label>Effect:</label>
        <input type="text" name="effect" value="<%= `${card.effect}` %>">
        <input type="submit" value="Edit Card">
      </form>
<% } else if (card.type === "Trap") { %>
    <form id="edit-form" action="/cards/<%= `${card._id}` %>?_method=PUT" method="POST">
        <label>Name:</label>
        <input type="text" name="name" value="<%= `${card.name}` %>">
        <br>
        <label>Type:</label>
        <select name="type" value="<%= `${card.type}` %>">
          <option value="Trap">Trap</option>
        </select>
        <br>
        <label>Trap Type:</label>
        <select name="trapType">
          <% const traps = ["Normal", "Continuous", "Counter"];
            for (i = 0; i < traps.length; i++){
                let selected = (card.trapType === traps[i]) ? "selected" : "";
                %><option value="<%= traps[i] %>" <%= selected %>><%= traps[i] %></option><%
            }%>
        </select>
        <br>
        <label>Effect:</label>
        <input type="text" name="effect" value="<%= `${card.effect}` %>">
        <input type="submit" value="Edit Card">
    </form>
<% } %>
<%- include('../partials/footer') %>