<%- include('../partials/header') %>

<section id="show-page" style="margin-left: 47%;margin-top: 10%; transform: scale(1.5);">
  <% if (card.type === "Monster") { %>
    <div class="monsterCard">
        <div class="cardName"<% if (card.name.length > 30) { %>
            style="transform: scaleX(0.46); transform-origin: 0 0;" <% } else if (card.name.length > 24) { %>
                style="transform: scaleX(0.6); transform-origin: 0 0;" <% } else if (card.name.length > 20) { %>
                    style="transform: scaleX(0.8); transform-origin: 0 0;" <% } %>><%= card.name %></div>
        <div class="tempMonsterPic"><img src="https://i.imgur.com/JZ6Oqyb.jpeg"></div>   
        <div class="cardLevel">
        <% for (i=0; i < card.level; i++) { %>
            <img src="https://i.imgur.com/g3dcnGh.png" width="18" height="18" style="margin-left: -2.6px">
        <% } %>
        </div>
        <div class="cardAttribute">
        <% switch(card.attribute){  
             case "LIGHT": %>
            <img src="https://i.imgur.com/l8zRFTg.png" width="26" height="26">
            <% break; 
            case "DARK": %>
            <img src="https://i.imgur.com/8iko1bz.png" width="26" height="26">
            <% break; 
            case "FIRE": %>
            <img src="https://i.imgur.com/S7UAoDH.png" width="26" height="26">
            <% break; 
            case "WATER": %>
            <img src="https://i.imgur.com/Pn0I6Eu.png" width="26" height="26">
            <% break; 
            case "WIND": %>
            <img src="https://i.imgur.com/ZQkaeIG.png" width="26" height="26">
            <% break; 
            case "EARTH": %>
            <img src="https://i.imgur.com/bcyhnAu.png" width="26" height="26">
            <% break;
            case "DIVINE": %>
            <img src="https://i.imgur.com/U5be6p8.png" width="26" height="26">
            <% break;
        } %>
        </div>
        <div class="cardMonsterType">[<%= card.monsterType.toUpperCase() %>/EFFECT]</div>
        <div class="monsterEffect" <% if (card.effect.length > 350) { %>
            style="font-size: 7px" <% } else if (card.effect.length > 200) { %>
                style="font-size: 9px" <% } %>><%= card.effect %></div>
        <hr>
        <div class="cardAtkSpot">ATK/</div>
        <div class="cardAtk"><%= card.atk %></div>
        <div class="cardDefSpot">DEF/</div>
        <div class="cardDef"><%= card.def %></div>
    </div>
  <% } else if (card.type === "Spell") { %>
    <div class="spellCard">
        <div class="cardName"<% if (card.name.length > 30) { %>
            style="transform: scaleX(0.46); transform-origin: 0 0;" <% } else if (card.name.length > 24) { %>
                style="transform: scaleX(0.6); transform-origin: 0 0;" <% } else if (card.name.length > 20) { %>
                    style="transform: scaleX(0.8); transform-origin: 0 0;" <% } %>><%= card.name %></div>
        <div class="tempSpellPic"><img src="https://i.imgur.com/L1yz2mX.png"></div>
        <div class="cardAttribute">
            <img src="https://i.imgur.com/rOqfiCg.png" width="26" height="26">
        </div>
        <div class="spellType">[<%= card.spellType %> Spell]</div>
        <div class="spellEffect" <% if (card.effect.length > 350) { %>
            style="font-size: 7px" <% } else if (card.effect.length > 200) { %>
                style="font-size: 9px" <% } %>><%= card.effect %></div>
    </div>
  <% } else if (card.type === "Trap") { %>
    <div class="trapCard">
        <div class="cardName"<% if (card.name.length > 30) { %>
            style="transform: scaleX(0.46); transform-origin: 0 0;" <% } else if (card.name.length > 24) { %>
                style="transform: scaleX(0.6); transform-origin: 0 0;" <% } else if (card.name.length > 20) { %>
                    style="transform: scaleX(0.8); transform-origin: 0 0;" <% } %>><%= card.name %></div>
        <div class="tempTrapPic"><img src="https://i.imgur.com/V4iCHuo.png"></div>
        <div class="cardAttribute">
            <img src="https://i.imgur.com/WvZdCji.png" width="26" height="26">
        </div>
        <div class="trapType">[<%= card.trapType %> Trap]</div>
        <div class="trapEffect" <% if (card.effect.length > 350) { %>
            style="font-size: 7px" <% } else if (card.effect.length > 200) { %>
                style="font-size: 9px" <% } %>><%= card.effect %></div>
    </div>
  <% } %>
</section>

<br><br>
<% if (user?._id) { %>
<div id="postOptions">
<button class="editPost"><a href="/cards/<%= card.id %>/edit">Edit Card</a></button>
    <form action="/cards/<%= card._id %>?_method=DELETE" method="POST">
        <button class="deletePost"type="submit">Delete Post</button>
    </form>
</div>
<% } %>

<br><br><h2 style="color: white; margin-top: 100px; margin-left: 50px;">Comment Section</h2>
<% if (user?._id) { %>
<form id="add-comment-form" method="POST"
  action="/cards/<%= card._id %>/comments" style="margin-left: 50px;">
  <label style="font-size: 26px; color: white">Leave a Comment:</label>
  <textarea name="content"></textarea>
  <label style="color: white; font-size: 18px;">Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <input type="submit" value="Add Comment">
</form>
<% } %>

<% if (card.comments.length) { %>
    <table style="margin-bottom: 100px; margin-left: 50px;">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% card.comments.forEach(function(c) { %>
          <tr class="commentDisplay">
            <td class="user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td style="background-color: #020049; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; border-radius: 8px;"><%= c.content %></td>
            <td style="padding-left: 20px;"><%= c.rating %></td>
            <td>
              <% if (user?._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                  <button type="submit" style="color: red">X</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5 style="margin-bottom: 100px; margin-left: 50px;">No Comments Yet</h5>
  <% } %>

<%- include('../partials/footer') %>